<div class="testing">
<div class="sidenav">
  <div class="login-main-text">
    <h2>Application<br> Login Page</h2>
    <p>Login or register from here to access.</p>
  </div>
</div>
  <form (ngSubmit)="submit()" [formGroup]="form">
<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="login-form">
      <div class="alert alert-danger" *ngIf="auth.error$ | async as error">{{error}}</div>
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" formControlName="email" name="email" placeholder="User Name">

          <div class="alert-danger" style="width: 100%; margin: 0 auto" *ngIf="form.get('email').touched">

            <div *ngIf="form.get('email').invalid">
              <p *ngIf="form.get('email').errors.required" class="bug">Заполните поле email</p>
              <p *ngIf="form.get('email').errors.email" class="bug">Введите почту пример example@mail.ru</p>
            </div>
          </div>

        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="password" name="password" placeholder="Password">

          <div class="alert-danger" style="width: 100%; margin: 0 auto" *ngIf="form.get('password').touched">

            <div *ngIf="form.get('password').invalid">
              <p *ngIf="form.get('password').errors.required" class="bug">Заполните поле password</p>
              <p *ngIf="form.get('password').errors.minlength" class="bug">Введите минимум {{form.get('password').errors.minlength.requiredLength}} символов, введено
                {{form.get('password').errors.minlength.actualLength}}</p>
            </div>

          </div>

        </div>
        <button type="submit" class="btn btn-black" [disabled]="form.invalid || submitted">Login</button>
    </div>
  </div>
</div>
  </form>
</div>
