
    <!-- <div class="textCenter">
        <ngb-accordion [closeOthers]="true" activeIds="static-1"><ngb-panel *ngFor="let render of renderLocalStorage; let i=index" id="static-{{i+1}}" title={{render}}>
            <ng-template ngbPanelContent>
              <div id="el1" class="container"> <button class="edit btn btn-secondary" data-toggle="modal" data-target="#e1">edit</button>
                  <button class="delete btn btn-secondary">delete</button>
                  </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
    </div> -->



